<!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-paw" aria-hidden="true"></i></i></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link f-links" aria-current="page" href="/">Home</a>
        <a class="nav-link f-links" href="/listing">All Listings</a>
        <a class="nav-link f-links" href="/listing/new">Add New Listings</a>
      </div>
    </div>
  </div>
</nav> -->






<nav class="navbar navbar-expand-md navbar-glass border-bottom sticky-top animate-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <!-- <i class="fa fa-paw"></i> -->
       <i class="fa fa-ils" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link f-links active" aria-current="page" href="/">Home</a>
        <a class="nav-link f-links" href="/listing">All Listings</a>
        <a class="nav-link f-links" href="/listing/new">Add New Listings</a>
      </div>
    </div>
  </div>
</nav>
